In [1]:
import pylections as elc

states = {
    "New Triangle": 21_878,
    "Circula": 9_713,
    "Squaryland": 4_167,
    "Octiana": 3_252,
    "Rhombus Island": 1_065
}

sum_votes = sum(states.values())

In [2]:
ham = elc.distributions.Hamilton(num_seats=43)
ham.add_score(states)

ham_integer_values_43, ham_fractional_values_43 = ham.calculate()
ham_43_result = ham.result

print("\n## Hamilton (43) ##:")
for key, int_part, frac_part in zip(states, ham_integer_values_43, ham_fractional_values_43):
    true_fraction = ham.true_distribution[key]
    apportioned_seats = ham_43_result[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {int_part:>4d} {frac_part:>8.4f} {apportioned_seats:>4d}")
    
ham.num_seats = 44
ham_integer_values_44, ham_fractional_values_44 = ham.calculate()
ham_44_result = ham.result

print("\n## Hamilton (44) ##:")
for key, int_part, frac_part in zip(states, ham_integer_values_44, ham_fractional_values_44):
    true_fraction = ham.true_distribution[key]
    apportioned_seats = ham_44_result[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {int_part:>4d} {frac_part:>8.4f} {apportioned_seats:>4d}")

## Hamilton (43) ##:
New Triangle          54.59%  23.47   23   0.4748   24
Circula               24.24%  10.42   10   0.4219   10
Squaryland            10.40%   4.47    4   0.4711    4
Octiana                8.11%   3.49    3   0.4894    4
Rhombus Island         2.66%   1.14    1   0.1427    1

## Hamilton (44) ##:
New Triangle          54.59%  24.02   24   0.0208   24
Circula               24.24%  10.66   10   0.6643   11
Squaryland            10.40%   4.58    4   0.5751    5
Octiana                8.11%   3.57    3   0.5705    3
Rhombus Island         2.66%   1.17    1   0.1693    1

In [3]:
jeff = elc.distributions.DHondt(num_seats=43) # DHondt's method is equivalent to Jefferson's, but calculated by handing out seats iteratively using individual divisors
jeff.add_score(states)
score_df_43, divisor_df_43, awards_df_43 = jeff.calculate() # these dataframes are for nerds to dive deeper into the iterative method, see tables at the bottom of the notebook

print("\n## Jefferson (43) ##:")
for key, apportioned_seats in jeff.result.items():
    true_fraction = jeff.true_distribution[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")

jeff.num_seats = 44
score_df_44, divisor_df_44, awards_df_44 = jeff.calculate() # these dataframes are for nerds to dive deeper into the iterative method, see tables at the bottom of the notebook

print("\n## Jefferson (44) ##:")
for key, apportioned_seats in jeff.result.items():
    true_fraction = jeff.true_distribution[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")

## Jefferson (43) ##:
New Triangle          54.59%  23.47   24
Circula               24.24%  10.42   11
Squaryland            10.40%   4.47    4
Octiana                8.11%   3.49    3
Rhombus Island         2.66%   1.14    1

## Jefferson (44) ##:
New Triangle          54.59%  24.02   25
Circula               24.24%  10.66   11
Squaryland            10.40%   4.58    4
Octiana                8.11%   3.57    3
Rhombus Island         2.66%   1.17    1

In [4]:
adams = elc.distributions.Adams(num_seats=43)
adams.add_score(states)
final_div = adams.calculate()

print("\n## Adams (43) ##:")
for key, apportioned_seats in adams.result.items():
    true_fraction = adams.true_distribution[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")
print(f"Final divisor: {final_div}")
    
adams.num_seats = 44
final_div = adams.calculate()

print("\n## Adams (44) ##:")
for key, apportioned_seats in adams.result.items():
    true_fraction = adams.true_distribution[key]
    name = str(key)
    print(f"{name:20s} {states[key]/sum_votes*100:>6.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")
print(f"Final divisor: {final_div}")

## Adams (43) ##:
New Triangle          54.59%  23.47   22
Circula               24.24%  10.42   10
Squaryland            10.40%   4.47    5
Octiana                8.11%   3.49    4
Rhombus Island         2.66%   1.14    2
Final divisor: 997.2151162790697

## Adams (44) ##:
New Triangle          54.59%  24.02   23
Circula               24.24%  10.66   10
Squaryland            10.40%   4.58    5
Octiana                8.11%   3.57    4
Rhombus Island         2.66%   1.17    2
Final divisor: 974.551136363636

In [5]:
hh = elc.distributions.HuntingtonHill(num_seats=43, initial_seats=1)
hh.add_score(states)

score_hh_df_43, divisor_hh_df_43, awards_hh_df_43 = hh.calculate()
print("\n## Huntington-Hill (43) ##:")
for key, share in hh.score_share.items():
    true_fraction = hh.true_distribution[key]
    if key in hh.result:
        apportioned_seats = hh.result[key]
    else:
        apportioned_seats = 0
    name = str(key)
    print(f"{name:20s} {share:>5.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")
    
hh.num_seats = 44
score_hh_df_44, divisor_hh_df_44, awards_hh_df_44 = hh.calculate()
print("\n## Huntington-Hill (44) ##:")
for key, share in hh.score_share.items():
    true_fraction = hh.true_distribution[key]
    if key in hh.result:
        apportioned_seats = hh.result[key]
    else:
        apportioned_seats = 0
    name = str(key)
    print(f"{name:20s} {share:>5.2f}% {true_fraction:>6.2f} {apportioned_seats:>4d}")

## Huntington-Hill (43) ##:
New Triangle         54.59%  23.47   23
Circula              24.24%  10.42   10
Squaryland           10.40%   4.47    5
Octiana               8.11%   3.49    4
Rhombus Island        2.66%   1.14    1

## Huntington-Hill (44) ##:
New Triangle         54.59%  24.02   24
Circula              24.24%  10.66   10
Squaryland           10.40%   4.58    5
Octiana               8.11%   3.57    4
Rhombus Island        2.66%   1.17    1

In [6]:
import pandas as pd   
from IPython.display import display_html 

print("43 seats, DHondt")
df1_styler = score_df_43.style.set_table_attributes("style='display:inline'").set_caption('Score table')
df2_styler = divisor_df_43.style.set_table_attributes("style='display:inline'").set_caption('Divisor table')
df3_styler = awards_df_43.style.set_table_attributes("style='display:inline'").set_caption('Apportioned seats')
space = "\xa0" * 10

display_html(df2_styler._repr_html_() + space + df1_styler._repr_html_() + space + df3_styler._repr_html_(), raw=True)

43 seats, DHondt

,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1,1,1,1,1
1,2,1,1,1,1
2,3,1,1,1,1
3,3,2,1,1,1
4,4,2,1,1,1
5,5,2,1,1,1
6,5,3,1,1,1
7,6,3,1,1,1
8,6,3,2,1,1
9,7,3,2,1,1
10,7,3,2,2,1
11,7,4,2,2,1
12,8,4,2,2,1
13,9,4,2,2,1
14,10,4,2,2,1
15,10,5,2,2,1
16,11,5,2,2,1
17,11,5,3,2,1
18,12,5,3,2,1
19,12,6,3,2,1
20,13,6,3,2,1
21,14,6,3,2,1
22,14,6,3,3,1
23,14,7,3,3,1
24,15,7,3,3,1
25,16,7,3,3,1
26,16,7,4,3,1
27,16,8,4,3,1
28,17,8,4,3,1
29,18,8,4,3,1
30,19,8,4,3,1
31,19,9,4,3,1
32,20,9,4,3,1
33,21,9,4,3,1
34,21,9,4,4,1
35,21,10,4,4,1
36,21,10,4,4,2
37,22,10,4,4,2
38,22,10,5,4,2
39,23,10,5,4,2
40,23,11,5,4,2
41,24,11,5,4,2
42,25,11,5,4,2
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,21878.000000,9713.000000,4167.000000,3252.000000,1065.000000
1,10939.000000,9713.000000,4167.000000,3252.000000,1065.000000
2,7292.666667,9713.000000,4167.000000,3252.000000,1065.000000
3,7292.666667,4856.500000,4167.000000,3252.000000,1065.000000
4,5469.500000,4856.500000,4167.000000,3252.000000,1065.000000
5,4375.600000,4856.500000,4167.000000,3252.000000,1065.000000
6,4375.600000,3237.666667,4167.000000,3252.000000,1065.000000
7,3646.333333,3237.666667,4167.000000,3252.000000,1065.000000
8,3646.333333,3237.666667,2083.500000,3252.000000,1065.000000
9,3125.428571,3237.666667,2083.500000,3252.000000,1065.000000
10,3125.428571,3237.666667,2083.500000,1626.000000,1065.000000
11,3125.428571,2428.250000,2083.500000,1626.000000,1065.000000
12,2734.750000,2428.250000,2083.500000,1626.000000,1065.000000
13,2430.888889,2428.250000,2083.500000,1626.000000,1065.000000
14,2187.800000,2428.250000,2083.500000,1626.000000,1065.000000
15,2187.800000,1942.600000,2083.500000,1626.000000,1065.000000
16,1988.909091,1942.600000,2083.500000,1626.000000,1065.000000
17,1988.909091,1942.600000,1389.000000,1626.000000,1065.000000
18,1823.166667,1942.600000,1389.000000,1626.000000,1065.000000
19,1823.166667,1618.833333,1389.000000,1626.000000,1065.000000
20,1682.923077,1618.833333,1389.000000,1626.000000,1065.000000
21,1562.714286,1618.833333,1389.000000,1626.000000,1065.000000
22,1562.714286,1618.833333,1389.000000,1084.000000,1065.000000
23,1562.714286,1387.571429,1389.000000,1084.000000,1065.000000
24,1458.533333,1387.571429,1389.000000,1084.000000,1065.000000
25,1367.375000,1387.571429,1389.000000,1084.000000,1065.000000
26,1367.375000,1387.571429,1041.750000,1084.000000,1065.000000
27,1367.375000,1214.125000,1041.750000,1084.000000,1065.000000
28,1286.941176,1214.125000,1041.750000,1084.000000,1065.000000
29,1215.444444,1214.125000,1041.750000,1084.000000,1065.000000
30,1151.473684,1214.125000,1041.750000,1084.000000,1065.000000
31,1151.473684,1079.222222,1041.750000,1084.000000,1065.000000
32,1093.900000,1079.222222,1041.750000,1084.000000,1065.000000
33,1041.809524,1079.222222,1041.750000,1084.000000,1065.000000
34,1041.809524,1079.222222,1041.750000,813.000000,1065.000000
35,1041.809524,971.300000,1041.750000,813.000000,1065.000000
36,1041.809524,971.300000,1041.750000,813.000000,532.500000
37,994.454545,971.300000,1041.750000,813.000000,532.500000
38,994.454545,971.300000,833.400000,813.000000,532.500000
39,951.217391,971.300000,833.400000,813.000000,532.500000
40,951.217391,883.000000,833.400000,813.000000,532.500000
41,911.583333,883.000000,833.400000,813.000000,532.500000
42,875.120000,883.000000,833.400000,813.000000,532.500000
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1,0,0,0,0
1,2,0,0,0,0
2,2,1,0,0,0
3,3,1,0,0,0
4,4,1,0,0,0
5,4,2,0,0,0
6,5,2,0,0,0
7,5,2,1,0,0
8,6,2,1,0,0
9,6,2,1,1,0
10,6,3,1,1,0
11,7,3,1,1,0
12,8,3,1,1,0
13,9,3,1,1,0
14,9,4,1,1,0
15,10,4,1,1,0
16,10,4,2,1,0
17,11,4,2,1,0
18,11,5,2,1,0
19,12,5,2,1,0
20,13,5,2,1,0
21,13,5,2,2,0
22,13,6,2,2,0
23,14,6,2,2,0
24,15,6,2,2,0
25,15,6,3,2,0
26,15,7,3,2,0
27,16,7,3,2,0
28,17,7,3,2,0
29,18,7,3,2,0
30,18,8,3,2,0
31,19,8,3,2,0
32,20,8,3,2,0
33,20,8,3,3,0
34,20,9,3,3,0
35,20,9,3,3,1
36,21,9,3,3,1
37,21,9,4,3,1
38,22,9,4,3,1
39,22,10,4,3,1
40,23,10,4,3,1
41,24,10,4,3,1
42,24,11,4,3,1

In [7]:
print("44 seats, DHondt")
df1_styler = score_df_44.style.set_table_attributes("style='display:inline'").set_caption('Score table')
df2_styler = divisor_df_44.style.set_table_attributes("style='display:inline'").set_caption('Divisor table')
df3_styler = awards_df_44.style.set_table_attributes("style='display:inline'").set_caption('Apportioned seats')
space = "\xa0" * 10

display_html(df2_styler._repr_html_() + space + df1_styler._repr_html_() + space + df3_styler._repr_html_(), raw=True)

44 seats, DHondt

,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1,1,1,1,1
1,2,1,1,1,1
2,3,1,1,1,1
3,3,2,1,1,1
4,4,2,1,1,1
5,5,2,1,1,1
6,5,3,1,1,1
7,6,3,1,1,1
8,6,3,2,1,1
9,7,3,2,1,1
10,7,3,2,2,1
11,7,4,2,2,1
12,8,4,2,2,1
13,9,4,2,2,1
14,10,4,2,2,1
15,10,5,2,2,1
16,11,5,2,2,1
17,11,5,3,2,1
18,12,5,3,2,1
19,12,6,3,2,1
20,13,6,3,2,1
21,14,6,3,2,1
22,14,6,3,3,1
23,14,7,3,3,1
24,15,7,3,3,1
25,16,7,3,3,1
26,16,7,4,3,1
27,16,8,4,3,1
28,17,8,4,3,1
29,18,8,4,3,1
30,19,8,4,3,1
31,19,9,4,3,1
32,20,9,4,3,1
33,21,9,4,3,1
34,21,9,4,4,1
35,21,10,4,4,1
36,21,10,4,4,2
37,22,10,4,4,2
38,22,10,5,4,2
39,23,10,5,4,2
40,23,11,5,4,2
41,24,11,5,4,2
42,25,11,5,4,2
43,25,12,5,4,2
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,21878.000000,9713.000000,4167.000000,3252.000000,1065.000000
1,10939.000000,9713.000000,4167.000000,3252.000000,1065.000000
2,7292.666667,9713.000000,4167.000000,3252.000000,1065.000000
3,7292.666667,4856.500000,4167.000000,3252.000000,1065.000000
4,5469.500000,4856.500000,4167.000000,3252.000000,1065.000000
5,4375.600000,4856.500000,4167.000000,3252.000000,1065.000000
6,4375.600000,3237.666667,4167.000000,3252.000000,1065.000000
7,3646.333333,3237.666667,4167.000000,3252.000000,1065.000000
8,3646.333333,3237.666667,2083.500000,3252.000000,1065.000000
9,3125.428571,3237.666667,2083.500000,3252.000000,1065.000000
10,3125.428571,3237.666667,2083.500000,1626.000000,1065.000000
11,3125.428571,2428.250000,2083.500000,1626.000000,1065.000000
12,2734.750000,2428.250000,2083.500000,1626.000000,1065.000000
13,2430.888889,2428.250000,2083.500000,1626.000000,1065.000000
14,2187.800000,2428.250000,2083.500000,1626.000000,1065.000000
15,2187.800000,1942.600000,2083.500000,1626.000000,1065.000000
16,1988.909091,1942.600000,2083.500000,1626.000000,1065.000000
17,1988.909091,1942.600000,1389.000000,1626.000000,1065.000000
18,1823.166667,1942.600000,1389.000000,1626.000000,1065.000000
19,1823.166667,1618.833333,1389.000000,1626.000000,1065.000000
20,1682.923077,1618.833333,1389.000000,1626.000000,1065.000000
21,1562.714286,1618.833333,1389.000000,1626.000000,1065.000000
22,1562.714286,1618.833333,1389.000000,1084.000000,1065.000000
23,1562.714286,1387.571429,1389.000000,1084.000000,1065.000000
24,1458.533333,1387.571429,1389.000000,1084.000000,1065.000000
25,1367.375000,1387.571429,1389.000000,1084.000000,1065.000000
26,1367.375000,1387.571429,1041.750000,1084.000000,1065.000000
27,1367.375000,1214.125000,1041.750000,1084.000000,1065.000000
28,1286.941176,1214.125000,1041.750000,1084.000000,1065.000000
29,1215.444444,1214.125000,1041.750000,1084.000000,1065.000000
30,1151.473684,1214.125000,1041.750000,1084.000000,1065.000000
31,1151.473684,1079.222222,1041.750000,1084.000000,1065.000000
32,1093.900000,1079.222222,1041.750000,1084.000000,1065.000000
33,1041.809524,1079.222222,1041.750000,1084.000000,1065.000000
34,1041.809524,1079.222222,1041.750000,813.000000,1065.000000
35,1041.809524,971.300000,1041.750000,813.000000,1065.000000
36,1041.809524,971.300000,1041.750000,813.000000,532.500000
37,994.454545,971.300000,1041.750000,813.000000,532.500000
38,994.454545,971.300000,833.400000,813.000000,532.500000
39,951.217391,971.300000,833.400000,813.000000,532.500000
40,951.217391,883.000000,833.400000,813.000000,532.500000
41,911.583333,883.000000,833.400000,813.000000,532.500000
42,875.120000,883.000000,833.400000,813.000000,532.500000
43,875.120000,809.416667,833.400000,813.000000,532.500000
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1,0,0,0,0
1,2,0,0,0,0
2,2,1,0,0,0
3,3,1,0,0,0
4,4,1,0,0,0
5,4,2,0,0,0
6,5,2,0,0,0
7,5,2,1,0,0
8,6,2,1,0,0
9,6,2,1,1,0
10,6,3,1,1,0
11,7,3,1,1,0
12,8,3,1,1,0
13,9,3,1,1,0
14,9,4,1,1,0
15,10,4,1,1,0
16,10,4,2,1,0
17,11,4,2,1,0
18,11,5,2,1,0
19,12,5,2,1,0
20,13,5,2,1,0
21,13,5,2,2,0
22,13,6,2,2,0
23,14,6,2,2,0
24,15,6,2,2,0
25,15,6,3,2,0
26,15,7,3,2,0
27,16,7,3,2,0
28,17,7,3,2,0
29,18,7,3,2,0
30,18,8,3,2,0
31,19,8,3,2,0
32,20,8,3,2,0
33,20,8,3,3,0
34,20,9,3,3,0
35,20,9,3,3,1
36,21,9,3,3,1
37,21,9,4,3,1
38,22,9,4,3,1
39,22,10,4,3,1
40,23,10,4,3,1
41,24,10,4,3,1
42,24,11,4,3,1
43,25,11,4,3,1

In [8]:
print("43 seats, Hill")
df1_styler = score_hh_df_43.style.set_table_attributes("style='display:inline'").set_caption('Score table')
df2_styler = divisor_hh_df_43.style.set_table_attributes("style='display:inline'").set_caption('Divisor table')
df3_styler = awards_hh_df_43.style.set_table_attributes("style='display:inline'").set_caption('Apportioned seats')
space = "\xa0" * 10

display_html(df2_styler._repr_html_() + space + df1_styler._repr_html_() + space + df3_styler._repr_html_(), raw=True)

43 seats, Hill

,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1.414214,1.414214,1.414214,1.414214,1.414214
1,2.449490,1.414214,1.414214,1.414214,1.414214
2,3.464102,1.414214,1.414214,1.414214,1.414214
3,3.464102,2.449490,1.414214,1.414214,1.414214
4,4.472136,2.449490,1.414214,1.414214,1.414214
5,5.477226,2.449490,1.414214,1.414214,1.414214
6,6.480741,2.449490,1.414214,1.414214,1.414214
7,6.480741,3.464102,1.414214,1.414214,1.414214
8,7.483315,3.464102,1.414214,1.414214,1.414214
9,7.483315,3.464102,2.449490,1.414214,1.414214
10,8.485281,3.464102,2.449490,1.414214,1.414214
11,8.485281,4.472136,2.449490,1.414214,1.414214
12,9.486833,4.472136,2.449490,1.414214,1.414214
13,10.488088,4.472136,2.449490,1.414214,1.414214
14,10.488088,4.472136,2.449490,2.449490,1.414214
15,10.488088,5.477226,2.449490,2.449490,1.414214
16,11.489125,5.477226,2.449490,2.449490,1.414214
17,12.489996,5.477226,2.449490,2.449490,1.414214
18,12.489996,6.480741,2.449490,2.449490,1.414214
19,13.490738,6.480741,2.449490,2.449490,1.414214
20,13.490738,6.480741,3.464102,2.449490,1.414214
21,14.491377,6.480741,3.464102,2.449490,1.414214
22,15.491933,6.480741,3.464102,2.449490,1.414214
23,15.491933,7.483315,3.464102,2.449490,1.414214
24,16.492423,7.483315,3.464102,2.449490,1.414214
25,16.492423,7.483315,3.464102,3.464102,1.414214
26,17.492856,7.483315,3.464102,3.464102,1.414214
27,17.492856,8.485281,3.464102,3.464102,1.414214
28,18.493242,8.485281,3.464102,3.464102,1.414214
29,18.493242,8.485281,4.472136,3.464102,1.414214
30,19.493589,8.485281,4.472136,3.464102,1.414214
31,19.493589,9.486833,4.472136,3.464102,1.414214
32,20.493902,9.486833,4.472136,3.464102,1.414214
33,21.494185,9.486833,4.472136,3.464102,1.414214
34,21.494185,10.488088,4.472136,3.464102,1.414214
35,22.494444,10.488088,4.472136,3.464102,1.414214
36,23.494680,10.488088,4.472136,3.464102,1.414214
37,23.494680,10.488088,4.472136,4.472136,1.414214
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,15470.082159,6868.128166,2946.513957,2299.511252,753.068722
1,8931.656099,6868.128166,2946.513957,2299.511252,753.068722
2,6315.634595,6868.128166,2946.513957,2299.511252,753.068722
3,6315.634595,3965.315645,2946.513957,2299.511252,753.068722
4,4892.069521,3965.315645,2946.513957,2299.511252,753.068722
5,3994.358038,3965.315645,2946.513957,2299.511252,753.068722
6,3375.848690,3965.315645,2946.513957,2299.511252,753.068722
7,3375.848690,2803.901582,2946.513957,2299.511252,753.068722
8,2923.570725,2803.901582,2946.513957,2299.511252,753.068722
9,2923.570725,2803.901582,1701.170626,2299.511252,753.068722
10,2578.347026,2803.901582,1701.170626,2299.511252,753.068722
11,2578.347026,2171.892827,1701.170626,2299.511252,753.068722
12,2306.143688,2171.892827,1701.170626,2299.511252,753.068722
13,2085.985453,2171.892827,1701.170626,2299.511252,753.068722
14,2085.985453,2171.892827,1701.170626,1327.623441,753.068722
15,2085.985453,1773.343067,1701.170626,1327.623441,753.068722
16,1904.235478,1773.343067,1701.170626,1327.623441,753.068722
17,1751.641874,1773.343067,1701.170626,1327.623441,753.068722
18,1751.641874,1498.748438,1701.170626,1327.623441,753.068722
19,1621.705255,1498.748438,1701.170626,1327.623441,753.068722
20,1621.705255,1498.748438,1202.909286,1327.623441,753.068722
21,1509.725431,1498.748438,1202.909286,1327.623441,753.068722
22,1412.218827,1498.748438,1202.909286,1327.623441,753.068722
23,1412.218827,1297.954221,1202.909286,1327.623441,753.068722
24,1326.548601,1297.954221,1202.909286,1327.623441,753.068722
25,1326.548601,1297.954221,1202.909286,938.771538,753.068722
26,1250.682015,1297.954221,1202.909286,938.771538,753.068722
27,1250.682015,1144.688028,1202.909286,938.771538,753.068722
28,1183.026750,1144.688028,1202.909286,938.771538,753.068722
29,1183.026750,1144.688028,931.769526,938.771538,753.068722
30,1122.317719,1144.688028,931.769526,938.771538,753.068722
31,1122.317719,1023.840097,931.769526,938.771538,753.068722
32,1067.537090,1023.840097,931.769526,938.771538,753.068722
33,1017.856678,1023.840097,931.769526,938.771538,753.068722
34,1017.856678,926.098213,931.769526,938.771538,753.068722
35,972.595732,926.098213,931.769526,938.771538,753.068722
36,931.189519,926.098213,931.769526,938.771538,753.068722
37,931.189519,926.098213,931.769526,727.169306,753.068722
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,2,1,1,1,1
1,3,1,1,1,1
2,3,2,1,1,1
3,4,2,1,1,1
4,5,2,1,1,1
5,6,2,1,1,1
6,6,3,1,1,1
7,7,3,1,1,1
8,7,3,2,1,1
9,8,3,2,1,1
10,8,4,2,1,1
11,9,4,2,1,1
12,10,4,2,1,1
13,10,4,2,2,1
14,10,5,2,2,1
15,11,5,2,2,1
16,12,5,2,2,1
17,12,6,2,2,1
18,13,6,2,2,1
19,13,6,3,2,1
20,14,6,3,2,1
21,15,6,3,2,1
22,15,7,3,2,1
23,16,7,3,2,1
24,16,7,3,3,1
25,17,7,3,3,1
26,17,8,3,3,1
27,18,8,3,3,1
28,18,8,4,3,1
29,19,8,4,3,1
30,19,9,4,3,1
31,20,9,4,3,1
32,21,9,4,3,1
33,21,10,4,3,1
34,22,10,4,3,1
35,23,10,4,3,1
36,23,10,4,4,1
37,23,10,5,4,1

In [9]:
print("44 seats, Hill")
df1_styler = score_hh_df_44.style.set_table_attributes("style='display:inline'").set_caption('Score table')
df2_styler = divisor_hh_df_44.style.set_table_attributes("style='display:inline'").set_caption('Divisor table')
df3_styler = awards_hh_df_44.style.set_table_attributes("style='display:inline'").set_caption('Apportioned seats')
space = "\xa0" * 10

display_html(df2_styler._repr_html_() + space + df1_styler._repr_html_() + space + df3_styler._repr_html_(), raw=True)

44 seats, Hill

,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,1.414214,1.414214,1.414214,1.414214,1.414214
1,2.449490,1.414214,1.414214,1.414214,1.414214
2,3.464102,1.414214,1.414214,1.414214,1.414214
3,3.464102,2.449490,1.414214,1.414214,1.414214
4,4.472136,2.449490,1.414214,1.414214,1.414214
5,5.477226,2.449490,1.414214,1.414214,1.414214
6,6.480741,2.449490,1.414214,1.414214,1.414214
7,6.480741,3.464102,1.414214,1.414214,1.414214
8,7.483315,3.464102,1.414214,1.414214,1.414214
9,7.483315,3.464102,2.449490,1.414214,1.414214
10,8.485281,3.464102,2.449490,1.414214,1.414214
11,8.485281,4.472136,2.449490,1.414214,1.414214
12,9.486833,4.472136,2.449490,1.414214,1.414214
13,10.488088,4.472136,2.449490,1.414214,1.414214
14,10.488088,4.472136,2.449490,2.449490,1.414214
15,10.488088,5.477226,2.449490,2.449490,1.414214
16,11.489125,5.477226,2.449490,2.449490,1.414214
17,12.489996,5.477226,2.449490,2.449490,1.414214
18,12.489996,6.480741,2.449490,2.449490,1.414214
19,13.490738,6.480741,2.449490,2.449490,1.414214
20,13.490738,6.480741,3.464102,2.449490,1.414214
21,14.491377,6.480741,3.464102,2.449490,1.414214
22,15.491933,6.480741,3.464102,2.449490,1.414214
23,15.491933,7.483315,3.464102,2.449490,1.414214
24,16.492423,7.483315,3.464102,2.449490,1.414214
25,16.492423,7.483315,3.464102,3.464102,1.414214
26,17.492856,7.483315,3.464102,3.464102,1.414214
27,17.492856,8.485281,3.464102,3.464102,1.414214
28,18.493242,8.485281,3.464102,3.464102,1.414214
29,18.493242,8.485281,4.472136,3.464102,1.414214
30,19.493589,8.485281,4.472136,3.464102,1.414214
31,19.493589,9.486833,4.472136,3.464102,1.414214
32,20.493902,9.486833,4.472136,3.464102,1.414214
33,21.494185,9.486833,4.472136,3.464102,1.414214
34,21.494185,10.488088,4.472136,3.464102,1.414214
35,22.494444,10.488088,4.472136,3.464102,1.414214
36,23.494680,10.488088,4.472136,3.464102,1.414214
37,23.494680,10.488088,4.472136,4.472136,1.414214
38,23.494680,10.488088,5.477226,4.472136,1.414214
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,15470.082159,6868.128166,2946.513957,2299.511252,753.068722
1,8931.656099,6868.128166,2946.513957,2299.511252,753.068722
2,6315.634595,6868.128166,2946.513957,2299.511252,753.068722
3,6315.634595,3965.315645,2946.513957,2299.511252,753.068722
4,4892.069521,3965.315645,2946.513957,2299.511252,753.068722
5,3994.358038,3965.315645,2946.513957,2299.511252,753.068722
6,3375.848690,3965.315645,2946.513957,2299.511252,753.068722
7,3375.848690,2803.901582,2946.513957,2299.511252,753.068722
8,2923.570725,2803.901582,2946.513957,2299.511252,753.068722
9,2923.570725,2803.901582,1701.170626,2299.511252,753.068722
10,2578.347026,2803.901582,1701.170626,2299.511252,753.068722
11,2578.347026,2171.892827,1701.170626,2299.511252,753.068722
12,2306.143688,2171.892827,1701.170626,2299.511252,753.068722
13,2085.985453,2171.892827,1701.170626,2299.511252,753.068722
14,2085.985453,2171.892827,1701.170626,1327.623441,753.068722
15,2085.985453,1773.343067,1701.170626,1327.623441,753.068722
16,1904.235478,1773.343067,1701.170626,1327.623441,753.068722
17,1751.641874,1773.343067,1701.170626,1327.623441,753.068722
18,1751.641874,1498.748438,1701.170626,1327.623441,753.068722
19,1621.705255,1498.748438,1701.170626,1327.623441,753.068722
20,1621.705255,1498.748438,1202.909286,1327.623441,753.068722
21,1509.725431,1498.748438,1202.909286,1327.623441,753.068722
22,1412.218827,1498.748438,1202.909286,1327.623441,753.068722
23,1412.218827,1297.954221,1202.909286,1327.623441,753.068722
24,1326.548601,1297.954221,1202.909286,1327.623441,753.068722
25,1326.548601,1297.954221,1202.909286,938.771538,753.068722
26,1250.682015,1297.954221,1202.909286,938.771538,753.068722
27,1250.682015,1144.688028,1202.909286,938.771538,753.068722
28,1183.026750,1144.688028,1202.909286,938.771538,753.068722
29,1183.026750,1144.688028,931.769526,938.771538,753.068722
30,1122.317719,1144.688028,931.769526,938.771538,753.068722
31,1122.317719,1023.840097,931.769526,938.771538,753.068722
32,1067.537090,1023.840097,931.769526,938.771538,753.068722
33,1017.856678,1023.840097,931.769526,938.771538,753.068722
34,1017.856678,926.098213,931.769526,938.771538,753.068722
35,972.595732,926.098213,931.769526,938.771538,753.068722
36,931.189519,926.098213,931.769526,938.771538,753.068722
37,931.189519,926.098213,931.769526,727.169306,753.068722
38,931.189519,926.098213,760.786632,727.169306,753.068722
,New Triangle,Circula,Squaryland,Octiana,Rhombus Island
0,2,1,1,1,1
1,3,1,1,1,1
2,3,2,1,1,1
3,4,2,1,1,1
4,5,2,1,1,1
5,6,2,1,1,1
6,6,3,1,1,1
7,7,3,1,1,1
8,7,3,2,1,1
9,8,3,2,1,1
10,8,4,2,1,1
11,9,4,2,1,1
12,10,4,2,1,1
13,10,4,2,2,1
14,10,5,2,2,1
15,11,5,2,2,1
16,12,5,2,2,1
17,12,6,2,2,1
18,13,6,2,2,1
19,13,6,3,2,1
20,14,6,3,2,1
21,15,6,3,2,1
22,15,7,3,2,1
23,16,7,3,2,1
24,16,7,3,3,1
25,17,7,3,3,1
26,17,8,3,3,1
27,18,8,3,3,1
28,18,8,4,3,1
29,19,8,4,3,1
30,19,9,4,3,1
31,20,9,4,3,1
32,21,9,4,3,1
33,21,10,4,3,1
34,22,10,4,3,1
35,23,10,4,3,1
36,23,10,4,4,1
37,23,10,5,4,1
38,24,10,5,4,1